<launch>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="0" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="1" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="2" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="3" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="4" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="5" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="6" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="7" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="8" />
  </include>
  <include file="$(find so3_quadrotor_simulator)/launch/single_controller.launch">
    <arg name="index" value="9" />
  </include>
</launch>
